* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  font-family: 'Poppins', sans-serif;    
  color: #ddd;
  background-color: #333;
}

.app {
  max-width: 960px;
  margin: 0 auto; 
}

.fileSection {
  text-align: center;
  margin-top: 100px;
}