* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  font-family: 'Poppins', sans-serif;    
  color: #ddd;
  background-color: #333;
}

.app {
  max-width: 960px;
  margin: 0 auto; 
}

.fileSection {
  text-align: center;
  margin-top: 100px;
}

.winner {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.dataGrid {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}